.vbg {
  background: url("https://res.cloudinary.com/dr49dbp8d/image/upload/v1678485071/demon%20slayer/bg_y2wray.jpg");
}

.vanime_in {
  animation: pc_in 1.2s forwards;
}

.vanime_out {
  animation: pc_out 1.4s forwards;
}

.textvillage {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
  padding: 0.6em 0 0.7em;
  font-weight: 700;
  margin-bottom: 1.8em;
}

#jmm-1678470016256__youtube-wrap {
  position: relative;
}
#jmm-1678470016256__youtube-wrap::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 56.25%;
}
#jmm-1678470016256__youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes pc_in {
  0% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pc_out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.01);
  }
}
